<div class="container table-responsive animate__animated animate__backInDown animate__slow">

    <div class="col-sm-8"><h2 class="display-4 "><i class="bi bi-house-add"></i> Editar Prestamo </h2></div>


    <table class="table table-condensed">
        <tr>
            <th class="h6 animate__delay-2s animate__animated animate__fadeIn"> ID de prestamo</th>
            <th class="h6 animate__delay-2ss animate__animated animate__fadeIn"> Fecha de salida</th>
            <th class="h6 animate__delay-3s animate__animated animate__fadeIn"> Fecha máxima de devolución</th>
            <th class="h6 animate__delay-3ss animate__animated animate__fadeIn"> Fecha de devolución</th>
            <th class="h6 animate__delay-4s animate__animated animate__fadeIn"> id de usuarios</th>
            <th class="h6 animate__delay-4ss animate__animated animate__fadeIn"> id tipo de prestamos</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr id="row-@item.id_Prestamo">
            <td> @item.id_Prestamo</td>
            <td> @item.Fecha_de_Salida</td>
            <td> @item.Fecha_maxima_de_devolucion</td>
            <td> @item.Fecha_de_devolucion</td>
            <td> @item.id_Usuarios</td>
            <td> @item.id_Tipos_de_prestamos</td>
            <td>

                <div class="btn-group d-flex">
                    <button type="button" class="m-1 btn btn-primary" href="#contenido-especifico" onclick="prepareEditRow(@item.id_Prestamo), scrollToContent()">Editar</button>
                    <button type="button" class="m-1 btn btn-danger" onclick="deleteRow(@item.id_Prestamo)">Eliminar</button>
                 </div>   
            </td>
        </tr>
        }
    </table>

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="pb-50 container table-responsive animate__delay-5ss animate__animated animate__fadeInRight">



    <div class="form-group row">
        <label class="col-sm-2 col-form-label h6"><i class="bi bi-postcard"></i> ID de prestamo</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="idpre" name="idpre" disabled>
        </div>
    </div>
    <div class="form-group row">

        <label class="col-sm-2 col-form-label"><i class="bi bi-house-up"></i> Fecha de salida</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="fechasalida" name="fechasalida">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-alarm"></i> Fecha máxima de devolución</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="fechamaxdev" name="fechamaxdev">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-house-down"></i> Fecha de devolución</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="fechadev" name="fechadev">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-fingerprint"></i> Usuario </label>
        <div class="col-sm-10">
            <select id="idusuario" name="idusuario" class="form-control">
                <option value="Pendiente">SELECCIONAR</option>
                @foreach (var usuarios in ViewBag.Usuarios)
                {
                <option value="@usuarios.id_Usuarios">@usuarios.Nombres</option>}

            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-postcard"></i> Tipo de prestamo </label>
        <div class="col-sm-10">
            <select id="idtipopres" name="idtipopres" class="form-control">
                <option value="Pendiente">SELECCIONAR</option>
                @foreach (var prestamos in ViewBag.Prestamos)
                {
                <option value="@prestamos.id_Tipos_de_prestamos">@prestamos.Descripcion</option>
                }
            </select>
        </div>
    </div>




</div>


<div class="container pb-4">
    <div class="row float-right">
        <div>
            <input id="contenido" class=" animate__delay-6s animar-boton btn btn-primary float-right animate__animated animate__slow animate__fadeInBottomRight" type="button" onclick="editRow()" value="Guardar cambios">
        </div>
    </div>
</div>

<br />
<br />
<script>

    function deleteRow(id) {
        // Realizar petición AJAX al controlador de Home para eliminar el empleado con el ID proporcionado
        if (confirm('¿Estás seguro de que deseas eliminar este empleado?')) {
            $.ajax({
                url: '/Home/DeletePrestamo',
                type: 'POST',
                data: { id: id },
                success: function () {
                    // Si la operación es exitosa, actualizar la tabla sin recargar la página
                    $('#row-' + id).remove();
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Si la operación falla, mostrar un mensaje de error
                    alert('Error al eliminar el empleado.');
                }
            });
        }
    }

    function prepareEditRow(id) {
        // Get employee data using id from selected row
        $.ajax({
            url: '/Home/GetPrestamo',
            type: 'GET',
            data: { id: id },
            // if successful, function in controller returns a json data object
            // Then fill this data to the edit form, to be edited
            success: function (data, status) {
                document.getElementById('idpre').value = data.id_Prestamo;
                document.getElementById('fechasalida').value = data.Fecha_de_Salida;
                document.getElementById('fechamaxdev').value = data.Fecha_maxima_de_devolucion;
                document.getElementById('fechadev').value = data.Fecha_de_devolucion;
                document.getElementById('idusuario').value = data.id_Usuarios;
                document.getElementById('idtipopres').value = data.id_Tipos_de_prestamos;
               
            },
            error: function () {
                alert('Error al preparar datos de empleado para editarse.');
            }
        });
    }

    function editRow() {
        $.ajax({
            url: '/Home/SaveEditedPrestamo',
            type: 'POST',
            async: true,
            data: {
                id: document.getElementById('idpre').value,
                FECHASAL: document.getElementById("fechasalida").value,
                FECHAMAXDEV: document.getElementById("fechamaxdev").value,
                FECHADEV: document.getElementById("fechadev").value,
                IDUSER: document.getElementById("idusuario").value,
                IDTIPOPRES: document.getElementById("idtipopres").value,
                
            },
            success: function () {
                alert('Edicion exitosa');
            },
            error: function () {
                alert('Error al editar empleado');
            }
        });

        limpiarFormulario();
    }

    function limpiarFormulario() {
        document.getElementById("idpre").value = "";
        document.getElementById("fechasalida").value = "";
        document.getElementById("fechamaxdev").value = "";
        document.getElementById("fechadev").value = "";
        document.getElementById("idusuario").value = "";
        document.getElementById("idtipopres").value = "";
       
    }



</script>

<script type="text/javascript">
    function scrollToContent() {
        var content = document.getElementById("contenido"); // Reemplaza "contenido" con el ID de tu elemento de destino
        var contentPosition = content.offsetTop;
        window.scrollTo({
            top: contentPosition,
            behavior: "smooth"
        });
    }
</script>

