<div class="col-sm-8"><h2 class="display-4 animate__animated animate__slow animate__fadeInLeft"><i class="bi bi-book-fill"></i> Editar Libros </h2></div>

<table class="table table-condensed">
    <tr>
        <th class="h6 animate__delay-2s animate__animated animate__fadeIn">  id_Libro</th>
        <th class="h6 animate__delay-2ss animate__animated animate__fadeIn"> Nombre</th>
        <th class="h6 animate__delay-3s animate__animated animate__fadeIn">  Editorial</th>
        <th class="h6 animate__delay-3ss animate__animated animate__fadeIn"> Autor</th>
        <th class="h6 animate__delay-4s animate__animated animate__fadeIn">  Genero</th>
        <th class="h6 animate__delay-4ss animate__animated animate__fadeIn"> PaisOrigen</th>
        <th class="h6 animate__delay-5s animate__animated animate__fadeIn">  NoPaginas</th>
        <th class="h6 animate__delay-5ss animate__animated animate__fadeIn">  FechaEdicion</th>
        <th class="h6 animate__delay-6s animate__animated animate__fadeIn"> Precio</th>
        <th class="h6 animate__delay-6ss animate__animated animate__fadeIn">  id_TipoLibro</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr id="row-@item.id_Libro">
        <td> @item.id_Libro</td>
        <td> @item.Nombre</td>
        <td> @item.Editorial</td>
        <td> @item.Autor</td>
        <td> @item.Genero</td>
        <td> @item.PaisOrigen</td>
        <td> @item.NoPaginas</td>
        <td> @item.FechaEdicion</td>
        <td> @item.Precio</td>
        <td> @item.id_TipoLibro</td>
        <td>
            <button type="button" class="btn btn-primary" onclick="prepareEditRow(@item.id_Libro)">Editar</button>
            <button type="button" class="btn btn-danger" onclick="deleteRow(@item.id_Libro)">Eliminar</button>
        </td>
    </tr>
    }
</table>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div class="container animate__delay-7s animate__animated animate__fadeInRight">



    <div class="form-group row">
        <label class="col-sm-2 col-form-label h6"><i class="bi bi-person-check"></i> ID Libro </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="id_Libro" name="id_Libro" placeholder="ID Libro">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label h6"><i class="bi bi-person-check"></i> Nombre </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Nomb" name="Nomb" placeholder="Nombre">
        </div>
    </div>
    <div class="form-group row">

        <label class="col-sm-2 col-form-label"><i class="bi bi-bank"></i> Editorial</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Edit" name="Edit" placeholder="Editorial">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-bookmark-dash"></i> Autor</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Aut" name="Aut" placeholder="Autor">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-bookmark-plus"></i> Género</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Gene" name="Gene" placeholder="Género">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-globe-americas"></i> Pais de Origen</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" id="PaisO" name="PaisO" placeholder="Pais de Origen" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-card-list"></i> No de Paginas</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="NoPag" name="NoPag" placeholder="No de Paginas">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-clock-fill"></i> Fecha de Edicion</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="FechaEdi" name="FechaEdi" placeholder="Fecha de Edicion">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-currency-exchange"></i> Precio</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Prec" name="Prec" placeholder="Precio">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-card-heading"></i> ID Tipo de Libro</label>
        <div class="col-sm-10">
            <select id="idTL" name="idTL" class="form-control">
                <option value="Pendiente">SELECCIONAR</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
    </div>
</div>

<div class="container">
    <div class="row float-right">
        <div>
            <input class=" animate__delay-6s animar-boton btn btn-primary float-right animate__animated animate__slow animate__fadeInBottomRight" type="button" onclick="editRow()" value="Guardar cambios">
        </div>
    </div>
</div>


<script>

    function deleteRow(id) {
        // Realizar petición AJAX al controlador de Home para eliminar el libro con el ID proporcionado
        if (confirm('¿Estás seguro de que deseas eliminar este libro?')) {
            $.ajax({
                url: '/Home/DeleteLibro',
                type: 'POST',
                data: { id: id },
                success: function () {
                    // Si la operación es exitosa, actualizar la tabla sin recargar la página
                    $('#row-' + id).remove();
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Si la operación falla, mostrar un mensaje de error
                    alert('Error al eliminar el libro.');
                }
            });
        }
    }

    function prepareEditRow(id) {
        // Get book data using id from selected row
        $.ajax({
            url: '/Home/GetLibro',
            type: 'GET',
            data: { id: id },
            // if successful, function in controller returns a json data object
            // Then fill this data to the edit form, to be edited
            success: function (data, status) {
                document.getElementById("id_Libro").value = data.id_Libro;
                document.getElementById("Nomb").value = data.Nombre;
                document.getElementById("Edit").value = data.Editorial;
                document.getElementById("Aut").value = data.Autor;
                document.getElementById("Gene").value = data.Genero;
                document.getElementById("PaisO").value = data.PaisOrigen;
                document.getElementById("NoPag").value = data.NoPaginas;
                document.getElementById("FechaEdi").value = data.FechaEdicion;
                document.getElementById("Prec").value = data.Precio;
                document.getElementById("idTL").value = data.id_TipoLibro;
            },
            error: function () {
                alert('Error al preparar datos de empleado para editarse.');
            }
        });
    }

    function editRow() {
        $.ajax({
            url: '/Home/SaveEditedLibro',
            type: 'POST',
            async: true,
            data: {
                id_Libro: document.getElementById("id_Libro").value,
                Nombre: document.getElementById("Nomb").value,
                Editorial: document.getElementById("Edit").value,
                Autor: document.getElementById("Aut").value,
                Genero: document.getElementById("Gene").value,
                PaisOrigen: document.getElementById("PaisO").value,
                NoPaginas: document.getElementById("NoPag").value,
                FechaEdicion: document.getElementById("FechaEdi").value,
                Precio: document.getElementById("Prec").value,
                id_TipoLibro: document.getElementById("idTL").value
            },
            success: function () {
                alert('Edicion exitosa');
            },
            error: function () {
                alert('Error al editar libro');
            }
        });

        limpiarFormulario();
    }

    function limpiarFormulario() {
        document.getElementById("id_Libro").value = "";
        document.getElementById("Nomb").value = "";
        document.getElementById("Edit").value = "";
        document.getElementById("Aut").value = "";
        document.getElementById("Gene").value = "";
        document.getElementById("PaisO").value = "";
        document.getElementById("NoPag").value = "";
        document.getElementById("FechaEdi").value = "";
        document.getElementById("Prec").value = "";
        document.getElementById("idTL").value = "";
    }
</script>