<table class="table table-condensed">
    <tr>
        <th>IdEmpleados</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>DNI</th>
        <th>Domicilio</th>
        <th>Nacimiento</th>
        <th>Antiguedad</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr id="row-@item.id_Empleados">
            <td> @item.id_Empleados</td>
            <td> @item.Nombres</td>
            <td> @item.Apellidos</td>
            <td> @item.DNI</td>
            <td> @item.Domicilio</td>
            <td> @item.Fecha_de_nacimiento</td>
            <td> @item.Antiguedad</td>
            <td>
                <button type="button" class="btn btn-primary" onclick="prepareEditRow(@item.id_Empleados)">Editar</button>
                <button type="button" class="btn btn-danger" onclick="deleteRow(@item.id_Empleados)">Eliminar</button>
            </td>
        </tr>
    }
</table>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div id="editEmpleadoModal" class="row">
    <div class="modal-content">
        <form>
            <div class="col-md-3">
                <Label>id Empleados</Label>
                <input type="text" id="id_Empleados" name="id" class="form-control" />
            </div>
            <div class="col-md-3">
                <Label>Nombres empleado</Label>
                <input type="text" id="nom" name="nom" class="form-control" />
            </div>
            <div class="col-md-3">
                <Label>Apellidos empleado</Label>
                <input type="text" id="apell" name="apell" class="form-control" />
            </div>
            <div class="col-md-3">
                <Label>DNI empleado</Label>
                <input type="text" id="dni" name="dni" class="form-control" />
            </div>
            <div class="col-md-3">
                <Label>Domicilio</Label>
                <input type="text" id="pre" name="pre" class="form-control" />
            </div>
            <div class="col-md-3">
                <Label>Fecha de nacimiento</Label>
                <input type="date" id="can" name="can" class="form-control" />
            </div>
            <div class="col-md-3">
                <Label>Antiguedad</Label>
                <input type="date" id="ant" name="ant" class="form-control" />
            </div>

            <input type="button" onclick="editRow()" value="Guardar cambios">
        </form>
    </div>
</div>
<script>

    function deleteRow(id) {
        // Realizar petición AJAX al controlador de Home para eliminar el empleado con el ID proporcionado
        if (confirm('¿Estás seguro de que deseas eliminar este empleado?')) {
            $.ajax({
                url: '/Home/DeleteEmpleado',
                type: 'POST',
                data: { id: id },
                success: function () {
                    // Si la operación es exitosa, actualizar la tabla sin recargar la página
                    $('#row-' + id).remove();
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Si la operación falla, mostrar un mensaje de error
                    alert('Error al eliminar el empleado.');
                }
            });
        }
    }

    function prepareEditRow(id) {
        // Get employee data using id from selected row
        $.ajax({
            url: '/Home/GetEmpleado',
            type: 'GET',
            data: { id: id },
            // if successful, function in controller returns a json data object
            // Then fill this data to the edit form, to be edited
            success: function (data, status) {
                document.getElementById('id_Empleados').value = data.id_Empleados;
                document.getElementById('nom').value = data.Nombres;
                document.getElementById('apell').value = data.Apellidos;
                document.getElementById('dni').value = data.DNI;
                document.getElementById('pre').value = data.Domicilio;
                document.getElementById('can').value = data.Fecha_de_nacimiento; 
                document.getElementById('ant').value = data.Antiguedad;
            },
            error: function () {
                alert('Error al preparar datos de empleado para editarse.');
            }
        });
    }

    function editRow() {
        $.ajax({
            url: '/Home/SaveEditedEmpleado',
            type: 'POST',
            async: true,
            data: {
                id: document.getElementById('id_Empleados').value,
                NombreEmpleado: document.getElementById("nom").value,
                ApellidosEmpleado: document.getElementById("apell").value,
                DNIempleado: document.getElementById("dni").value,
                DomicilioEmpleado: document.getElementById("pre").value,
                FechaDeNacimientoEmpleado: document.getElementById("can").value,
                AntiguedadEmpleado: document.getElementById("ant").value
            },
            success: function () {
                alert('Edicion exitosa');
            },
            error: function () {
                alert('Error al editar empleado');
            }
        });

        limpiarFormulario();
    }

    function limpiarFormulario() {
        document.getElementById("id_Empleados").value = "";
        document.getElementById("nom").value = "";
        document.getElementById("apell").value = "";
        document.getElementById("dni").value = "";
        document.getElementById("pre").value = "";
        document.getElementById("can").value = "";
        document.getElementById("ant").value = "";
    }
</script>