<table class="table table-condensed">
    <tr>
        <th>Id_Usuarios</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>DNI</th>
        <th>Domicilio</th>
        <th>Fecha_de_nacimiento</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @item.id_Usuarios</td>
            <td> @item.Nombres</td>
            <td> @item.Apellidos</td>
            <td> @item.DNI</td>
            <td> @item.Domicilio</td>
            <td> @item.Fecha_de_nacimiento</td>
        </tr>
    }
</table>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div id="editVentaModal" class="row">
    <div class="modal-content">
        <form>
            <div class="col-md-3">
                <Label>id Usuario</Label>
                <input type="text" id="id_Usuario" name="id" class="form-control" />
            </div>
            <div class="col-md-3">
                <Label>Nombres</Label>
                <input type="text" id="Nombres" name="Nombres" class="form-control" />
            </div>
            <div class="col-md-3">
                <Label>Apellidos</Label>
                <input type="text" id="Apellidos" name="Apellidos" class="form-control" />
            </div>
            <div class="col-md-3">
                <Label>DNI</Label>
                <input type="text" id="DNI" name="DNI" class="form-control" />
            </div>
            <div class="col-md-3">
                <Label>Domicilio</Label>
                <input type="text" id="Domicilio" name="Domicilio" class="form-control" />
            </div>
            <div class="col-md-3">
                <Label>Fecha de Nacimiento</Label>
                <input type="text" id="Fecha_de_nacimiento" name="Fecha_de_nacimiento" class="form-control" />
            </div>

            <input type="submit" value="Guardar cambios">
        </form>
    </div>
</div>
<script>
    function deleteRow(id) {
        // Realizar petición AJAX al controlador de Home para eliminar el empleado con el ID proporcionado
        if (confirm('¿Estás seguro de que deseas eliminar este Usuario?')) {
            $.ajax({
                url: '/Home/DeleteUsuario',
                type: 'POST',
                data: { id: id },
                success: function () {
                    // Si la operación es exitosa, actualizar la tabla sin recargar la página
                    $('#row-' + id).remove();
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Si la operación falla, mostrar un mensaje de error
                    alert('Error al eliminar al usuario.');
                }
            });
        }
    }
    function prepareEditRow(id) {
        // Get employee data using id from selected row
        $.ajax({
            url: '/Home/GetUsuario',
            type: 'GET',
            data: { id: id },
            // if successful, function in controller returns a json data object
            // Then fill this data to the edit form, to be edited
            success: function (data, status) {
                document.getElementById('id_Usuarios').value = data.id_Usuarios;
                document.getElementById('nombres').value = data.Nombres;
                document.getElementById('apellidos').value = data.Apellidos;
                document.getElementById('dni').value = data.DNI;
                document.getElementById('domicilio').value = data.Domicilio;
                document.getElementById('fechadenacimiento').value = data.Fecha_de_nacimiento;
            },
            error: function () {
                alert('Error al preparar datos de usuario para editarse.');
            }
        });
    }
    function editRow() {
        $.ajax({
            url: '/Home/SaveEditedEmpleado',
            type: 'POST',
            async: true,
            data: {
                id: document.getElementById('id_Usuarios').value,
                Nombres: document.getElementById("nombres").value,
                Apellidos: document.getElementById("apellidos").value,
                Hora: document.getElementById("dni").value,
                Domicilio: document.getElementById("domicilio").value ,
                Fecha_de_nacimiento: document.getElementById("fechadenacimiento").value
            },
            success: function () {
                alert('Edicion exitosa');
            },
            error: function () {
                alert('Error al editar usuario');
            }
        });
        limpiarFormulario();
    }
    function limpiarFormulario() {
        document.getElementById("id_Usuarios").value = "";
        document.getElementById("nombres").value = "";
        document.getElementById("apellidos").value = "";
        document.getElementById("dni").value = "";
        document.getElementById("domicilio").value = "";
        document.getElementById("fechadenacimiento").value = "";
    }
</script>
