<div class="table-responsive animate__animated animate__backInDown animate__slow">
    <table class="table table-condensed">
        <tr>
            <th class="h6 animate__delay-2s animate__animated animate__fadeIn">  IdEmpleados</th>
            <th class="h6 animate__delay-2ss animate__animated animate__fadeIn"> Nombres</th>
            <th class="h6 animate__delay-3s animate__animated animate__fadeIn">  Apellidos</th>
            <th class="h6 animate__delay-3ss animate__animated animate__fadeIn"> DNI</th>
            <th class="h6 animate__delay-4s animate__animated animate__fadeIn">  Domicilio</th>
            <th class="h6 animate__delay-4ss animate__animated animate__fadeIn"> Nacimiento</th>
            <th class="h6 animate__delay-5s animate__animated animate__fadeIn">  Antiguedad</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr id="row-@item.id_Empleados">
            <td> @item.id_Empleados</td>
            <td> @item.Nombres</td>
            <td> @item.Apellidos</td>
            <td> @item.DNI</td>
            <td> @item.Domicilio</td>
            <td> @item.Fecha_de_nacimiento</td>
            <td> @item.Antiguedad</td>
            <td>
                <button type="button" class="btn btn-primary" onclick="prepareEditRow(@item.id_Empleados)">Editar</button>
                <button type="button" class="btn btn-danger" onclick="deleteRow(@item.id_Empleados)">Eliminar</button>
            </td>
        </tr>
        }
    </table>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container animate__delay-5ss animate__animated animate__fadeInRight">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label h6"><i class="bi bi-person-check"></i> Empleados</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="id_Empleados" name="id" placeholder="Empleados" disabled>
        </div>
    </div>
    <div class="form-group row">

        <label class="col-sm-2 col-form-label"><i class="bi bi-person-lines-fill"></i> Nombres empleado</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="nom" name="nom" placeholder="Nombres empleado">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-person-vcard-fill"></i> Apellidos empleado</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="apell" name="apell" placeholder="Apellidos empleado">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-person-vcard-fill"></i> DNI empleado</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="dni" name="dni" placeholder="DNI empleado">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-pin-map"></i> Domicilio</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" id="pre" name="pre" placeholder="Domicilio" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-calendar-date"></i> Fecha de nacimiento</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="can" name="can" placeholder="Fecha de nacimiento">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-clock-fill"></i> Antiguedad</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="ant" name="ant" placeholder="Antiguedad">
        </div>
    </div>



</div>


<div class="container">
    <div class="row float-right">
        <div>
            <input class=" animate__delay-6s animar-boton btn btn-primary float-right animate__animated animate__slow animate__fadeInBottomRight" type="button" onclick="editRow()" value="Guardar cambios">
        </div>
    </div>
</div>
    <script>

        function deleteRow(id) {
            // Realizar petición AJAX al controlador de Home para eliminar el empleado con el ID proporcionado
            if (confirm('¿Estás seguro de que deseas eliminar este empleado?')) {
                $.ajax({
                    url: '/Home/DeleteEmpleado',
                    type: 'POST',
                    data: { id: id },
                    success: function () {
                        // Si la operación es exitosa, actualizar la tabla sin recargar la página
                        $('#row-' + id).remove();
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        // Si la operación falla, mostrar un mensaje de error
                        alert('Error al eliminar el empleado.');
                    }
                });
            }
        }

        function prepareEditRow(id) {
            // Get employee data using id from selected row
            $.ajax({
                url: '/Home/GetEmpleado',
                type: 'GET',
                data: { id: id },
                // if successful, function in controller returns a json data object
                // Then fill this data to the edit form, to be edited
                success: function (data, status) {
                    document.getElementById('id_Empleados').value = data.id_Empleados;
                    document.getElementById('nom').value = data.Nombres;
                    document.getElementById('apell').value = data.Apellidos;
                    document.getElementById('dni').value = data.DNI;
                    document.getElementById('pre').value = data.Domicilio;
                    document.getElementById('can').value = data.Fecha_de_nacimiento;
                    document.getElementById('ant').value = data.Antiguedad;
                },
                error: function () {
                    alert('Error al preparar datos de empleado para editarse.');
                }
            });
        }

        function editRow() {
            $.ajax({
                url: '/Home/SaveEditedEmpleado',
                type: 'POST',
                async: true,
                data: {
                    id: document.getElementById('id_Empleados').value,
                    NombreEmpleado: document.getElementById("nom").value,
                    ApellidosEmpleado: document.getElementById("apell").value,
                    DNIempleado: document.getElementById("dni").value,
                    DomicilioEmpleado: document.getElementById("pre").value,
                    FechaDeNacimientoEmpleado: document.getElementById("can").value,
                    AntiguedadEmpleado: document.getElementById("ant").value
                },
                success: function () {
                    alert('Edicion exitosa');
                },
                error: function () {
                    alert('Error al editar empleado');
                }
            });

            limpiarFormulario();
        }

        function limpiarFormulario() {
            document.getElementById("id_Empleados").value = "";
            document.getElementById("nom").value = "";
            document.getElementById("apell").value = "";
            document.getElementById("dni").value = "";
            document.getElementById("pre").value = "";
            document.getElementById("can").value = "";
            document.getElementById("ant").value = "";
        }
    </script>
