<table class="table table-condensed">
    <tr>
        <th>id_Libro</th>
        <th>Nombre</th>
        <th>Editorial</th>
        <th>Autor</th>
        <th>Genero</th>
        <th>PaisOrigen</th>
        <th>NoPaginas</th>
        <th>FechaEdicion</th>
        <th>Precio</th>
        <th>id_TipoLibro</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr id="row-@item.id_Libro">
            <td> @item.id_Libro</td>
            <td> @item.Nombre</td>
            <td> @item.Editorial</td>
            <td> @item.Autor</td>
            <td> @item.Genero</td>
            <td> @item.PaisOrigen</td>
            <td> @item.NoPaginas</td>
            <td> @item.FechaEdicion</td>
            <td> @item.Precio</td>
            <td> @item.id_TipoLibro</td>
            <td>
                <button type="button" class="btn btn-primary" onclick="prepareEditRow(@item.id_Libro)">Editar</button>
                <button type="button" class="btn btn-danger" onclick="deleteRow(@item.id_Libro)">Eliminar</button>
            </td>
        </tr>
    }
</table>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div id="editLibrosModal" class="row">
    <div class="modal-content">
        <form>
            <div class="col-md-3">
                <Label>id_Libro</Label>
                <input type="text" id="id_Libro" name="id_Libro" class="form-control" />
            </div>
            <div class="col-md-3">
                <Label>Nombre</Label>
                <input type="text" id="Nomb" name="Nomb" class="form-control" />
            </div>
            <div class="col-md-3">
                <Label>Editorial</Label>
                <input type="text" id="Edit" name="Edit" class="form-control" />
            </div>
            <div class="col-md-3">
                <Label>Autor</Label>
                <input type="text" id="Aut" name="Aut" class="form-control" />
            </div>
            <div class="col-md-3">
                <Label>Genero</Label>
                <input type="text" id="Gene" name="Gene" class="form-control" />
            </div>
            <div class="col-md-3">
                <Label>Pais de origen</Label>
                <input type="text" id="PaisO" name="PaisO" class="form-control" />
            </div>
            <div class="col-md-3">
                <Label>Numero de paginas</Label>
                <input type="text" id="NoPag" name="NoPag" class="form-control" />
            </div>
            <div class="col-md-3">
                <Label>Fecha de edicion</Label>
                <input type="date" id="FechaEdi" name="FechaEdi" class="form-control" />
            </div>
            <div class="col-md-3">
                <Label>Precio</Label>
                <input type="text" id="Prec" name="Prec" class="form-control" />
            </div>
            <div class="col-md-3">
                <Label>id_TipoLibro</Label>
                <input type="text" id="idTipoLi" name="idTipoLi" class="form-control" />
            </div>

            <input type="button" onclick="editRow()" value="Guardar cambios">
        </form>
    </div>
</div>
<script>

    function deleteRow(id) {
        // Realizar petición AJAX al controlador de Home para eliminar el empleado con el ID proporcionado
        if (confirm('¿Estás seguro de que deseas eliminar este empleado?')) {
            $.ajax({
                url: '/Home/DeleteEmpleado',
                type: 'POST',
                data: { id: id },
                success: function () {
                    // Si la operación es exitosa, actualizar la tabla sin recargar la página
                    $('#row-' + id).remove();
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Si la operación falla, mostrar un mensaje de error
                    alert('Error al eliminar el empleado.');
                }
            });
        }
    }

    function prepareEditRow(id) {
        // Get employee data using id from selected row
        $.ajax({
            url: '/Home/GetEmpleado',
            type: 'GET',
            data: { id: id },
            // if successful, function in controller returns a json data object
            // Then fill this data to the edit form, to be edited
            success: function (data, status) {
                document.getElementById('id_Empleados').value = data.id_Empleados;
                document.getElementById('nom').value = data.Nombres;
                document.getElementById('apell').value = data.Apellidos;
                document.getElementById('dni').value = data.DNI;
                document.getElementById('pre').value = data.Domicilio;
                document.getElementById('can').value = data.Fecha_de_nacimiento; 
                document.getElementById('ant').value = data.Antiguedad;
            },
            error: function () {
                alert('Error al preparar datos de empleado para editarse.');
            }
        });
    }

    function editRow() {
        $.ajax({
            url: '/Home/SaveEditedEmpleado',
            type: 'POST',
            async: true,
            data: {
                id: document.getElementById('id_Empleados').value,
                NombreEmpleado: document.getElementById("nom").value,
                ApellidosEmpleado: document.getElementById("apell").value,
                DNIempleado: document.getElementById("dni").value,
                DomicilioEmpleado: document.getElementById("pre").value,
                FechaDeNacimientoEmpleado: document.getElementById("can").value,
                AntiguedadEmpleado: document.getElementById("ant").value
            },
            success: function () {
                alert('Edicion exitosa');
            },
            error: function () {
                alert('Error al editar empleado');
            }
        });

        limpiarFormulario();
    }

    function limpiarFormulario() {
        document.getElementById("id_Empleados").value = "";
        document.getElementById("nom").value = "";
        document.getElementById("apell").value = "";
        document.getElementById("dni").value = "";
        document.getElementById("pre").value = "";
        document.getElementById("can").value = "";
        document.getElementById("ant").value = "";
    }
</script>