

<div class="container">

    <div class="col-sm-8"><h2 class="display-4 animate__animated animate__slow animate__fadeInLeft"><i class="bi bi-book-fill"></i> Libros </h2></div>
    <div class="table-responsive animate__animated animate__backInDown animate__slow">
        <table class="table table-condensed">
            <tr>
                <th class="h6 animate__delay-2s animate__animated animate__fadeIn"> ID de Libro</th>
                <th class="h6 animate__delay-2ss animate__animated animate__fadeIn"> Nombre</th>
                <th class="h6 animate__delay-3s animate__animated animate__fadeIn"> Editorial</th>
                <th class="h6 animate__delay-3ss animate__animated animate__fadeIn"> Autor</th>
                <th class="h6 animate__delay-4s animate__animated animate__fadeIn"> Género</th>
                <th class="h6 animate__delay-4ss animate__animated animate__fadeIn"> Pais de Origen</th>
                <th class="h6 animate__delay-5s animate__animated animate__fadeIn"> Numero de Páginas</th>
                <th class="h6 animate__delay-5ss animate__animated animate__fadeIn"> Fecha de Edicion</th>
                <th class="h6 animate__delay-6s animate__animated animate__fadeIn"> Precio</th>
                <th class="h6 animate__delay-6ss animate__animated animate__fadeIn"> id Tipo de Libro</th>
                <th class="h6 animate__delay-6ss animate__animated animate__fadeIn"></th>
            </tr>
            @foreach (var item in Model)
            {
        <tr>
            <td> @item.id_Libro</td>
            <td> @item.Nombre</td>
            <td> @item.Editorial</td>
            <td> @item.Autor</td>
            <td> @item.Genero</td>
            <td> @item.PaisOrigen</td>
            <td> @item.NoPaginas</td>
            <td> @item.FechaEdicion</td>
            <td> @item.Precio</td>
            <td> @item.id_TipoLibro</td>
            <td> <a href="@Url.Action("EditarLibros","Home")" class="btn btn-danger">Borrar/Editar</a> </td>
        </tr>
}
        </table>
    </div>

    <div class=" animate__animated animate__flash animate__delay-7s ">
        <a href="@Url.Action("FormularioLibros","Home")" class="animar-boton btn btn-primary float-right animate__animated animate__slow animate__fadeInBottomRight"><span class="texto-boton">Agregar libros</span></a>
    </div>

</div>